<a routerLink="/add">Add a new todo -></a>
<ul class="todos">
  <li *ngFor="let todo of todos">
      <input type="checkbox"
        [(ngModel)]="todo.state"
        (click)="onStateDone(todo)"
        *ngIf="!todo.state"
        />
      <a routerLink="/{{todo.id}}">{{todo.title}}</a>
  </li>
</ul>
<ul class="dones">
  <li *ngFor="let done of dones">
      <a routerLink="/{{done.id}}">{{done.title}}</a>
  </li>
</ul>
