<a routerLink="/"><- Go back</a>
<h3>Add a new todo:</h3>
 <form #todoForm="ngForm" *ngIf="myTodo">

  <label for="todo-title">Title:</label>
  <input id="todo-title" name="todo-title" type="text"
    [(ngModel)]="myTodo.title" required/><br/>

  <label for="todo-description">Description:</label>
  <textarea id="todo-description" name="description"
    [(ngModel)]="myTodo.description" rows="8" cols="80"></textarea>

    <button type="submit" [disabled]="!todoForm.form.valid"
    (click)="newTodo(); todoForm.form.reset();">Add new TODO</button>
</form>

<div *ngIf="todoCreated">
  <ul *ngIf="submitted">New todo Added
    <li>Title: {{todoCreated.title}}</li>
    <li>Description: {{todoCreated.description}}</li>
  </ul>
</div>
